BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
TABLE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN-LEFT: -2px; WIDTH: 100%; MARGIN-RIGHT: -2px; PADDING-TOP: 0px
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #feb 1px dotted
}
TABLE.bodyTable TH {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
TABLE.bodyTable TD {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 2px; VERTICAL-ALIGN: top; PADDING-TOP: 2px
}
DIV.clear {
	CLEAR: both; VISIBILITY: hidden
}
DIV.clear HR {
	DISPLAY: none
}
#organizationLogo {
	FONT-WEIGHT: bold; FONT-SIZE: xx-large
}
#projectLogo {
	FONT-WEIGHT: bold; FONT-SIZE: xx-large
}
#organizationLogo IMG {
	MARGIN: 0px
}
#projectLogo IMG {
	MARGIN: 0px
}
#organizationLogo SPAN {
	MARGIN: 0px
}
#projectLogo SPAN {
	MARGIN: 0px
}
#organizationLogo SPAN {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; CURSOR: pointer; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eee
}
#projectLogo SPAN {
	BORDER-RIGHT: 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 4px; BORDER-LEFT: 1px solid; CURSOR: pointer; PADDING-TOP: 4px; BORDER-BOTTOM: 1px solid; BACKGROUND-COLOR: #eee
}
.xleft {
	FLOAT: left
}
#organizationLogo IMG {
	FLOAT: left
}
.xright {
	FLOAT: right; text-shadow: #7CFC00
}
#projectLogo IMG {
	FLOAT: right; text-shadow: #7CFC00
}
#projectLogo SPAN {
	FLOAT: right; text-shadow: #7CFC00
}
#banner {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
#banner IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
#breadcrumbs {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#leftColumn {
	FLOAT: left; WIDTH: 150px
}
#bodyColumn {
	MARGIN-LEFT: 177px; MARGIN-RIGHT: 1.5em
}
#legend {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
#navcolumn {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; PADDING-BOTTOM: 0px; PADDING-TOP: 8px
}
#navcolumn H5 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: small; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navcolumn UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: small; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
#navcolumn LI {
	BACKGROUND-POSITION: 0px 0.4em; PADDING-LEFT: 16px; LIST-STYLE-POSITION: outside; FONT-SIZE: smaller; BACKGROUND-IMAGE: none; LINE-HEIGHT: 1.2em; BACKGROUND-REPEAT: no-repeat; LIST-STYLE-TYPE: none
}
#navcolumn LI.expanded {
	BACKGROUND-IMAGE: url(../images/expanded.gif)
}
#navcolumn LI.collapsed {
	BACKGROUND-IMAGE: url(../images/collapsed.gif)
}
#poweredBy {
	TEXT-ALIGN: center
}
#poweredByExternal {
	TEXT-ALIGN: center
}
#navcolumn IMG {
	MARGIN-TOP: 10px; MARGIN-BOTTOM: 3px
}
#poweredBy IMG {
	BORDER-RIGHT: black 1px solid; BORDER-TOP: black 1px solid; DISPLAY: block; MARGIN: 20px 0px 20px 17px; BORDER-LEFT: black 1px solid; WIDTH: 90px; BORDER-BOTTOM: black 1px solid; HEIGHT: 30px
}
#poweredByExternal IMG {
	DISPLAY: block; MARGIN: 20px 0px 20px 17px
}
#searchbar IMG {
	DISPLAY: block; MARGIN: 0px
}
#searchbar #q {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#searchbar #btnG {
	BORDER-RIGHT: #999 1px solid; BORDER-TOP: #999 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #999 1px solid; BORDER-BOTTOM: #999 1px solid
}
#searchbar FORM {
	MARGIN: 0px
}
#lastPublished {
	FONT-SIZE: x-small
}
.navSection {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 8px; PADDING-TOP: 8px
}
.navSectionHead {
	FONT-WEIGHT: bold; FONT-SIZE: x-small
}
.section {
	PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; PADDING-TOP: 4px
}
#footer {
	PADDING-RIGHT: 10px; PADDING-LEFT: 10px; FONT-SIZE: x-small; PADDING-BOTTOM: 3px; PADDING-TOP: 3px
}
#breadcrumbs {
	FONT-SIZE: x-small; MARGIN: 0pt
}
.source {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; MARGIN: 1em 7px; PADDING-TOP: 12px
}
.source PRE {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px
}
